// stylelint-disable value-keyword-case
$font__main: 'Roboto', sans-serif;
// stylelint-enable value-keyword-case
$font__code: 'Roboto', sans-serif;
$font__pre: 'Roboto', sans-serif;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
